<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paste.cloud.dao.UserDAO">

    <resultMap id="userMap" type="com.paste.cloud.model.User">
        <id property="uid" column="uid"/>
        <result property="email" column="email"/>
        <result property="pwd" column="pwd"/>
        <result property="registerTime" column="register_time"/>
    </resultMap>

    <!--通过ID查询单个-->
    <select id="findById" resultMap="userMap">
        SELECT uid,email,pwd,register_time FROM user
        WHERE uid=#{id}
    </select>

    <!--分页查询-->
    <select id="findByPage" resultMap="userMap">
        SELECT uid,email,pwd,register_time FROM user
    </select>

    <!--新增-->
    <insert id="insert">
        INSERT INTO user(uid,email,pwd,register_time)
        VALUES (#{uid},#{email},#{pwd},#{registerTime})
    </insert>

    <!--修改-->
    <update id="update">
        UPDATE user SET email=#{email},pwd=#{pwd},register_time=#{registerTime}
        WHERE uid=#{uid}
    </update>

    <!--通过ID删除单个-->
    <delete id="deleteById">
        DELETE FROM user
        WHERE uid=#{id}
    </delete>
    <select id="findByEmail" resultMap="userMap">
        SELECT uid,email,pwd,register_time FROM user where email = #{email}
    </select>

</mapper>